<!DOCTYPE html>
<html lang="en">
  <title>Language Store</title>
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <link href="../static/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Dictionary</h1>
      <!-- <form action="success.html" method="POST"> -->
      <div class="message">{{text | safe}}</div>

      <form action="{{url_for('success')}}" method="POST">
        <input title="chi" placeholder="chi" type="text" name="chi" /> <br />
        <input title="eng" placeholder="eng" type="text" name="eng" /> <br />
        <input title="pinyin" placeholder="pinyin" type="text" name="pinyin" />
        <br />
        <button type="submit">Save</button>
      </form>

      <table class="">
        <thead class="header">
          <tr>
            <th>CHINESE</th>
            <th>ENGLISH</th>
            <th>PINYIN</th>
          </tr>
        </thead>

        <tbody>
          {% for x in content %}
          <tr>
            <td>{{x.chi_}}</td>
            <td>{{x.eng_}}</td>
            <td>{{x.pinyin_}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
