<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Language Store</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="container">
        <h1>
          table
        </h1>
        <form action="success.html" method="POST">
          <input title="chi" placeholder="chi" type="text">
          <input title="eng" placeholder="eng" type="text">
          <input title="pinyin" placeholder="pinyin" type="text">
          <button type="submit"> Save </button>
        </form>
    </div>
	<script src="index.js"></script>
  </body>
</html>